USE [master]
GO
/****** Object:  Database [Notifications]    Script Date: 6/17/2023 10:33:55 AM ******/
CREATE DATABASE [Notifications]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Notifications', FILENAME = N'C:\Users\paynek\Notifications.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Notifications_log', FILENAME = N'C:\Users\paynek\Notifications_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Notifications].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Notifications]
GO
/****** Object:  Table [dbo].[Taxpayer]    Script Date: 6/17/2023 10:33:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxpayer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[SSN] [nvarchar](max) NULL,
	[Pin] [nvarchar](max) NULL,
	[StartDate] [date] NULL,
 CONSTRAINT [PK_Taxpayer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
