@page
@model PrivacyModel
@{
    ViewData["Title"] = "Stacking toast";
}
<style>
    .btn {
        width: 10em;
    }
</style>
<div class="container mt-3">

    <div class="alert alert-success" role="alert">
        Stacking toast
    </div>
    
    <form id="form1" method="post">
        <input type="hidden" id="takeActionValue" asp-for="TakeAction" />
        
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" id="toastButton1">Toast 1</button>
            </div>
        
            <button type="button" class="btn btn-danger float-end" id="toastButton2">Toast 2</button>
        </div>

        <div class="row mt-2">
            <div class="col">
                <button type="button" class="btn btn-secondary" id="bothToast">both</button>
            </div>
        
            <button type="button" class="btn btn-success float-end" id="buttonSample">Click</button>
        </div>
    
  
        @*Toast code*@
        <partial name="_Privacy" model="Model.MessageContainer" />
    </form>




    
</div>

@section Scripts {
    @*<script src="~/Pages/Privacy.cshtml.js"></script>*@
    
    <script>
        document.getElementById("toastButton1").onclick = function () {
            topToast();
        }

        document.getElementById("toastButton2").onclick = function () {
            bottomToast();
        }

        document.getElementById("bothToast").onclick = function () {
            topToast();
            bottomToast();
        }
        document.getElementById("buttonSample").addEventListener("click", function () {
            var toastElList = [].slice.call(document.querySelectorAll('#buttonExample'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
        });

        document.getElementById("takeAction").addEventListener("click", function () {
            document.getElementById("takeActionValue").value = true;
            document.getElementById("form1").submit();
        });

        document.getElementById("noAction").addEventListener("click", function () {
            document.getElementById("takeActionValue").value = false;
            document.getElementById("form1").submit();
        });

        function topToast() {
            var toastElList = [].slice.call(document.querySelectorAll('#topToast'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
        }

        function bottomToast() {
            var toastElList = [].slice.call(document.querySelectorAll('#bottomToast'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
        }
    </script>
}

